* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: Poppins;
}

.scroll-box::-webkit-scrollbar {
  display: none;
}

.scroll-box {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
